/* Fonts (Google Fonts)
Barlow Regular
Space Mono Italic

Colors (Logo)
Black: #000
Gold: #d2aa50 */


/* FONTS */
/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'),
         url('../fonts/barlow-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/barlow-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }
  /* barlow-800 - latin */
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
         url('../fonts/barlow-v3-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/barlow-v3-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }

/* space-mono-italic - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    src: local('Space Mono Italic'), local('SpaceMono-Italic'),
         url('../fonts/space-mono-v4-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/space-mono-v4-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;     
  }
  /* space-mono-700italic - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Space Mono Bold Italic'), local('SpaceMono-BoldItalic'),
         url('../fonts/space-mono-v4-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/space-mono-v4-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }

  .barlow {
    font-family: 'Barlow', Arial, sans-serif;
}

.space-mono {
    font-family: 'Space Mono', 'Times New Roman', Times, serif;
}

/* MAP STYLES */
#soma-pilipinas-directory {

}

.leaflet-popup-content p {
    margin: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    background: black;
    color: white;
}

.leaflet-popup-tip {
    background-color: black;
}